flask
gunicorn
requests
python-dotenv
edge-tts
aiohttp
firebase-admin
PyPDF2
Pillow
google-genai
numpy
beautifulsoup4
duckduckgo-search
wikipedia
google-search-results
fpdf
python-docx
openpyxl
curl-cffi
livekit>=1.1.0
livekit-api>=1.1.0
livekit-agents>=1.5.0
livekit-plugins-cartesia>=1.5.0
livekit-plugins-openai>=1.5.0
livekit-plugins-silero>=1.5.0
livekit-plugins-deepgram>=1.5.0
livekit-plugins-sarvam>=1.5.0
livekit-plugins-elevenlabs>=1.5.0
livekit-plugins-google>=1.5.0
websockets
razorpay
flask-cors
openai
flask-compress
googlesearch-python
